//**************** BUTTON PARTIAL ****************
//BASIC BUTTON
.btn {
    border-radius: 2px;
}

//BUTTON SIZING
.tiny {
    padding-left: 10px;
    padding-right: 10px;
    height: 24px;
    font-size: 10px;
}
.small {
    padding-left: 12px;
    padding-right: 12px;
    height: 31px;
    font-size: 12px;
}
.medium {
    padding-left: 14px;
    padding-right: 14px;
    height: 37px;
    font-size: 14px;
}
.large {
    padding-left: 16px;
    padding-right: 16px;
    height: 44px;
    font-size: 16px;
}
.big {
    padding-left: 18px;
    padding-right: 18px;
    height: 50px;
    font-size: 18px;
}
.huge {
    padding-left: 21px;
    padding-right: 21px;
    height: 60px;
    font-size: 21px;
}
.massive {
    padding-left: 24px;
    padding-right: 24px;
    height: 71px;
    font-size: 24px;
}

//BUTTON COLOURS
//PRIMARY
.primary {
    background-color: $primaryAction;
    color: #fff;
    border: 1px solid $primaryAction;
}

.primary:hover {
    background-color: mix($primaryAction, white, 90%);
    border: 1px solid mix($primaryAction, white, 90%);
}

.primary:active, .primary:focus {
    border: 1px solid mix($primaryAction, black, 80%);
}

.secondary {
    background-color: white;
    color: $primaryAction;
    border: 1px solid $primaryAction;
}

.secondary:hover {
    background-color: $MG5;
}

.secondary:active, secondary:focus {
    border: 1px solid mix(white, black, 80%);
}

//ERROR
.error {
    background-color: $alertDanger;
    color: #fff;
    border: 1px solid $alertDanger;
}

.error:hover {
    background-color: mix($alertDanger, white, 90%);
    border: 1px solid mix($alertDanger, white, 90%);
}

.error:active, .error:focus {
    border: 1px solid mix($alertDanger, black, 80%)
}
//WARNING
.warning {
    background-color: $alertWarning;
    color: #fff;
    border: 1px solid $alertWarning;
}

.warning:hover {
    background-color: mix($alertWarning, white, 90%);
    border: 1px solid mix($alertWarning, white, 90%);
}

.warning:active, .warning:focus {
    border: 1px solid mix($alertWarning, black, 80%)
}

//SUCCESS
.success {
    background-color: $alertSuccess;
    color: #fff;
    border: 1px solid $alertSuccess;
}

.success:hover {
    background-color: mix($alertSuccess, white, 90%);
    border: 1px solid mix($alertSuccess, white, 90%);
}

.success:active, .success:focus {
    border: 1px solid mix($alertSuccess, black, 80%)
}