//**************** PALETTE PARTIAL ****************
//DEFAULT UI COLOUR
$defaultBrand: #0a3254;
$secondaryBrand: #8bb6e3;
$primaryAction: #18aee0;
//MasterGreys
$MG100: #222e32;
$MG90: #38474e;
$MG80: #4c5c63;
$MG70: #627279;
$MG60: #76858D;
$MG50: #8c9aa1;
$MG40: #a2aeb4;
$MG30: #b8c2c7;
$MG20: #d0d6da;
$MG10: #e7eaec;
$MG5: #f3f4f5;

//DEFAULT UI SUPPORTING PALETTE
$alertDanger: #f22929;
$alertWarning: #ff8400;
$alertSuccess: #54c600;
$alertOngoing: #6e99d4;
$hyperlink: #0066cc;

//NAVIGATION
$navBG: #1A2426;
$hoverBG: #593B39;
$hoverBorder: #BF3944; 