.wrapper {
    overflow-x: hidden;
    min-height: 400px;
    position: relative;
    left: 0;
}

.toggle {
    color: white;
    cursor: pointer;
    font-size: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    background-color: #1A2426;
    padding: 10px 15px;
    z-index: 1;
    float: left;
}

.side-nav {
    border-right: 1px solid #34495e;
    box-shadow: 6px 0 20px 0 rgba(0, 0, 0, 0.5);
    color: #fff;
    position: fixed;
    top: 0;
    left: -306px;
    width: 285px;
    height: 100%;
}

.side-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.side-nav ul a {
    padding: 10px 20px;
    display: block;
    text-decoration: none;
}

.side-nav ul a:hover {
    color: white;
    font-weight: bold;
}

.nav-open {
    left: 243px;
}

.nav-open .side-nav {
    left: 0;
}

.wrapper,
.side-nav {
    transition: left 0.2s cubic-bezier(.55, 0, .1, 1);
}