@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto");
/* line 1, C:/Users/wbrett200/Desktop/Design/SCSS/partials/_buttons.scss */
.btn {
  border-radius: 2px; }

/* line 5, C:/Users/wbrett200/Desktop/Design/SCSS/partials/_buttons.scss */
.tiny {
  padding-left: 10px;
  padding-right: 10px;
  height: 24px;
  font-size: 10px; }

/* line 11, C:/Users/wbrett200/Desktop/Design/SCSS/partials/_buttons.scss */
.small {
  padding-left: 12px;
  padding-right: 12px;
  height: 31px;
  font-size: 12px; }

/* line 17, C:/Users/wbrett200/Desktop/Design/SCSS/partials/_buttons.scss */
.medium {
  padding-left: 14px;
  padding-right: 14px;
  height: 37px;
  font-size: 14px; }

/* line 23, C:/Users/wbrett200/Desktop/Design/SCSS/partials/_buttons.scss */
.large {
  padding-left: 16px;
  padding-right: 16px;
  height: 44px;
  font-size: 16px; }

/* line 29, C:/Users/wbrett200/Desktop/Design/SCSS/partials/_buttons.scss */
.big {
  padding-left: 18px;
  padding-right: 18px;
  height: 50px;
  font-size: 18px; }

/* line 35, C:/Users/wbrett200/Desktop/Design/SCSS/partials/_buttons.scss */
.huge {
  padding-left: 21px;
  padding-right: 21px;
  height: 60px;
  font-size: 21px; }

/* line 41, C:/Users/wbrett200/Desktop/Design/SCSS/partials/_buttons.scss */
.massive {
  padding-left: 24px;
  padding-right: 24px;
  height: 71px;
  font-size: 24px; }

/* line 49, C:/Users/wbrett200/Desktop/Design/SCSS/partials/_buttons.scss */
.primary {
  background-color: #f05133;
  color: #fff;
  border: 1px solid #f05133; }

/* line 55, C:/Users/wbrett200/Desktop/Design/SCSS/partials/_buttons.scss */
.primary:hover {
  background-color: #f26247;
  border: 1px solid #f26247; }

/* line 60, C:/Users/wbrett200/Desktop/Design/SCSS/partials/_buttons.scss */
.primary:active, .primary:focus {
  border: 1px solid #c04129; }

/* line 64, C:/Users/wbrett200/Desktop/Design/SCSS/partials/_buttons.scss */
.secondary {
  background-color: white;
  color: #f05133;
  border: 1px solid #f05133; }

/* line 70, C:/Users/wbrett200/Desktop/Design/SCSS/partials/_buttons.scss */
.secondary:hover {
  background-color: #f3f4f5; }

/* line 74, C:/Users/wbrett200/Desktop/Design/SCSS/partials/_buttons.scss */
.secondary:active, secondary:focus {
  border: 1px solid #cccccc; }

/* line 79, C:/Users/wbrett200/Desktop/Design/SCSS/partials/_buttons.scss */
.error {
  background-color: #f22929;
  color: #fff;
  border: 1px solid #f22929; }

/* line 85, C:/Users/wbrett200/Desktop/Design/SCSS/partials/_buttons.scss */
.error:hover {
  background-color: #f33e3e;
  border: 1px solid #f33e3e; }

/* line 90, C:/Users/wbrett200/Desktop/Design/SCSS/partials/_buttons.scss */
.error:active, .error:focus {
  border: 1px solid #c22121; }

/* line 94, C:/Users/wbrett200/Desktop/Design/SCSS/partials/_buttons.scss */
.warning {
  background-color: #ff8400;
  color: #fff;
  border: 1px solid #ff8400; }

/* line 100, C:/Users/wbrett200/Desktop/Design/SCSS/partials/_buttons.scss */
.warning:hover {
  background-color: #ff901a;
  border: 1px solid #ff901a; }

/* line 105, C:/Users/wbrett200/Desktop/Design/SCSS/partials/_buttons.scss */
.warning:active, .warning:focus {
  border: 1px solid #cc6a00; }

/* line 110, C:/Users/wbrett200/Desktop/Design/SCSS/partials/_buttons.scss */
.success {
  background-color: #54c600;
  color: #fff;
  border: 1px solid #54c600; }

/* line 116, C:/Users/wbrett200/Desktop/Design/SCSS/partials/_buttons.scss */
.success:hover {
  background-color: #65cc1a;
  border: 1px solid #65cc1a; }

/* line 121, C:/Users/wbrett200/Desktop/Design/SCSS/partials/_buttons.scss */
.success:active, .success:focus {
  border: 1px solid #439e00; }

/* line 6, C:/Users/wbrett200/Desktop/Design/SCSS/stylesheet.scss */
body {
  padding: 0;
  margin: 0; }

/* line 11, C:/Users/wbrett200/Desktop/Design/SCSS/stylesheet.scss */
.title {
  font-family: 'Roboto'; }

/* line 15, C:/Users/wbrett200/Desktop/Design/SCSS/stylesheet.scss */
.paragraph {
  font-family: 'Open Sans'; }

/*# sourceMappingURL=stylesheet.css.map */