//******************** IMPORTS ********************
//SCSS PARTIAL FILES
@import './partials/palette';
@import './partials/buttons';
@import './partials/navigation';
@import './partials/document';
@import './partials/login';

//FONTS
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

//***************** BASIC STYLES ******************
//RESET
body {
    padding: 0;
    margin: 0;
}

//FORMATTING
.title {
    font-family: 'Roboto';
}

.paragraph {
    font-family: 'Open Sans';
}


//HEADER
header {
    background: $MG5;
    padding-top: 10px;
    padding-bottom: 10px;
    .icons {
        float: right;
        .icon {
            padding-right: 30px;
        }
    }
    .brand {
        padding-left: 30px;
    }
}